 @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand&family=Roboto:wght@700&display=swap");


 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'Quicksand', sans-ser;
     margin: 0px auto;
     width: 100%;
 }

 hr {
     margin: 2rem 0rem;
 }

 .container {
     padding: 1rem 0rem;
 }

 .container-center {
     max-width: 600px;
     margin: auto;
  text-aling: center
 }

 .link {
     text-decoration: none;
     padding: 0.6rem 1.5rem;
    
 }
.link-primary{
    background-color:rgb(0, 234, 255) ;
    border: 2px solid;
    color: white;
    border-radius: 1.5rem;
 }

 .link-secondary {
     border: 2px solid;
     color: white;
     border-radius: 1.5rem;
     background-color: rgb(0, 234, 255);
 }

 .list-non-bullet {
     list-style: none;
 }

 .list-item-inline {
     display: inline;
     padding: 0rem 0.5rem;
 }

 .showcase-list {
     text-align: center;
     margin:  3rem auto; 
     padding: 2rem; 
     border-radius: 1rem;
 }

 .navigation {
     background-color: rgb(0, 234, 255);
     padding: 2rem;
     margin: auto;
     border-radius: 1rem;
     color: white;
 }

 .navigation .nav-brand {
     font-weight: bolder;
     font-size: xx-large;
     color: white;

 }

 .navigation .nav-pills {
     text-align: right;
     color: white;

 }
/* 
 .navigation .link {
     color: white;
 } */

.navigation .link-active {
     font-weight: bolder;
     color: white;


 }

 .hero {
     padding: 2rem;
     padding-top: 5rem;
     text-aling: center;
 }

 .hero .hero-img {
     max-width: 450px;
     display: block;
     margin: auto;
 }

 .hero .hero-heading {
     text-align: center;
     padding-top: 1rem;
     color: rgb(0, 234, 255);
 }

 .hero .hero-heading .heading-inverted {
     color: blue;
     text-aling: center;
 }

 .section {
     padding: 2rem;
     margin: 2rem 0rem;
     border-radius: 1rem;
 }

 .section h1 {
     text-align: center;
 }

 .section p {
     text-align: center;
     padding: 2rem;

 }

 .ow {
     background-color: rgb(208, 205, 205);
     margin: auto;
     border-radius: 1.5rem;
     margin-bottom: 1rem;
     text-aling: center;
 }

 .section a {
     text-align: center;
 }


 .footer {
     background-color: rgb(0, 234, 255);
     padding: 2rem 2rem;
     text-align: center;
     color: white;
     margin: auto;
     margin-top: 2rem;
     border-top-left-radius: 1rem;
     border-top-right-radius: 1rem;

 }

 .footer .footer-hearder {
     font-weight: bold;
     font-size: x-large;
 }

 .footer .link {
     color: black;
 }
